<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- mybatis db 연결정보 세팅 파일 -->
<configuration>
	<typeAliases>
		<typeAlias type="semi_project.MemberDTO" alias="memberDTO"/>
		<typeAlias type="semi_project.ProductDTO" alias="productDTO"/>
		<typeAlias type="semi_project.CommentDTO" alias="commentDTO"/>
	</typeAliases>
<!-- mapping에서 사용할 mybatis.MemberDTO의 별명을 DTO로 설정함 -->
</configuration>
